{% extends "layout.html" %}
{% block title%}질문 목록{%endblock title%}
{%block contents%}
<h1>질문 목록</h1>
<div class="list-group mt-4">
    
    <!--question_list:  view에서 받은 context data(의 key값.)-->
    {% for question in question_list %}
    <!-- href="/polls/form/{{question.pk}}" -->
    
    <a href="{% url 'polls:vote_form' question.pk %}" class="list-group-item list-group-item-action">
        {{question.pk}}. {{question.question_text|truncatewords:5}}
    </a>
    {% empty %}
        <!-- iterable에 원소 없을 경우 실행할 내용. -->
        <b>등록된 질문이 없습니다.</b>
    {% endfor%}
</div>
{%endblock contents%}



