{% extends "layout.html"%}
{%block title%}질문 등록{%endblock title%}
{%block contents%}
<h1>설문 등록</h1>
<!-- form의 action을 생략하면 현재 url경로로 요청.-->
<form method="post">
    {% csrf_token %}
    <h2>질문</h2>
    <input type="text" name="question_text" class="form-control" required />
    <h2>보기</h2>
    <div id="choice_layer">
        <input type="text" name="choice_text" class="form-control" required />
    </div>
    <div class="mt-3">
        <button type="button" onclick="addChoice()" class="btn btn-primary">보기추가</button>
        <button type="button" onclick="deleteChoice()"
                class="btn btn-danger">보기제거</button>
        <button type="submit" class="btn btn-primary">등록</button>
    </div>
</form>
<script>
    function deleteChoice() {
        // element 제거 - 부모노드객체.removeChild(삭제할 자식노드)
        layer = document.getElementById("choice_layer")
        // 두개 이상일 때만 삭제
        if (layer.children.length >= 2){
            layer.removeChild(layer.lastChild)
        } else {
            alert("보기가 한개입니다.")
        }
    }
    function addChoice() {
        //보기 입력 input을 div#choice_layer에 추가.
        // input element 객체 생성
        input = document.createElement("input");
        // property(attribute) 추가.
        input.setAttribute("type", "text"); //<input type="text">
        input.setAttribute("name", "choice_text");
        input.setAttribute("class", "form-control mt-1");
        input.setAttribute("required", true);
        //div에 추가
        document.getElementById("choice_layer").append(input);
    }
</script>
{%endblock contents%}